<p class="inter-class">Inter Font and Material Icon <span class="material-icons">done</span></p>

<!--<app-button>Кнопка</app-button>-->
<!--<app-rating>star</app-rating>-->
<!--<app-bage>Скидка -17%</app-bage>-->
<!--<app-icon>home</app-icon>-->
<!--<app-tooltip>В смартфонах используются не только SIM-карты, но и более компактные версии micro SIM и nano SIM. eSIM это SIM-карта, интегрированная в телефон</app-tooltip>-->


<!--<app-card>Кнопка</app-card>-->
<!--<app-dropdown [button]="button">Dropdown</app-dropdown>-->
<!--<app-icon-tooltip>!!!{{button.size}}В смартфонах используются не только SIM-карты, но и более компактные версии micro SIM и nano SIM. eSIM это SIM-карта, интегрированная в телефон</app-icon-tooltip>-->
<app-button [isDisabled]="button?.isDisabled!">Button!</app-button>
